@model MongoCRUD.ViewModels.CatModel
@{
    ViewBag.Title = "ShowCatList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .buttons{display: inline-block}
    .information {
        margin-left: 30px;
        margin-right: 500px;
    }
    .showAddingForm {
        margin-left: 30px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $("#addingForm").hide();
        $(".editForm").hide();
        $("#showAddingForm").on("click", function() {
            if ($("#addingForm").is(":hidden")) {
                $("#addingForm").slideDown();
            } else {
                $("#addingForm").slideUp();
            }
        });

        $("#confirmAdding").on("click", function() {
            $("#addingForm").slideUp();
        });

        function appendValue(parent, childname1, childname2, value) {
            parent.children().children(childname1).children(childname2).attr("value", value);
        }

        $(".showEditForm").on("click", function () {
            var container = $(this).next(".editForm");
            if (container.is(":hidden")) {
                var name = container.next().next(".namee");
                var breed = name.next(".bredee");
                var weight = breed.next(".weightee");
                var age = weight.next(".agee");
                appendValue(container, ".nameContainer", ".nameInput", name.text());
                appendValue(container, ".breedContainer", ".breedInput", breed.text());
                appendValue(container, ".ageContainer", ".ageInput", age.text());
                appendValue(container, ".weightContainer", ".weightInput", weight.text());
                container.slideDown();
            } else {
                container.slideUp();
            }
        });
      
        $(".btnEdit").on("click", function() {
            $(".editForm").slideUp();
        });
        
        $(".information").each(function(index) {
            if (index % 2 === 0) {
                $(this).css("background", "whitesmoke");
            }
        })
    });
</script>
<h2 class="showAddingForm">Cats' list</h2>
<button class="btn btn-default btn-lg showAddingForm" id="showAddingForm">Add new</button>
<br>
<br>
<div id="addingForm">
    @using (Html.BeginForm("AddCat", "Managment", FormMethod.Post))
    {
        <div class="input-group ">
            <span class="input-group-addon disc" id="basic-addon1">Name:</span>
            <input type="text" name="Name" class="form-control"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon disc" id="basic-addon1">Breed:</span>
            <input type="text" name="Breed" class="form-control"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon disc" id="basic-addon1">Weight:</span>
            <input type="text" name="Weight" class="form-control"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon disc" id="basic-addon1">Age:</span>
            <input type="text" name="Age" class="form-control"/>
        </div>
        <input type="submit" value="Add" class="btn btn-default" id="confirmAdding">
    }
</div>

    @foreach (var cat in Model.Cats)
    {
        <div class="information">
            <div class="buttons">
                @using (Html.BeginForm("DeleteCat", "Managment", FormMethod.Post))
                {
                    <input type="hidden" name="id" value="@cat.Id">
                    <input type="submit" value="Delete" class="btn btn-default">
                }
            </div>
            <button class="btn btn-default showEditForm buttons">Edit</button>
            <div class="editForm" id="@cat.Id">
                @using (Html.BeginForm("EditCat", "Managment", FormMethod.Post))
                {
                    <input type="hidden" value="@cat.Id" name="id">
                    <div class="input-group nameContainer">
                        <span class="input-group-addon" id="basic-addon1">Name:</span>
                        <input type="text" name="Name" class="form-control nameInput"/>
                    </div>
                    <div class="input-group breedContainer">
                        <span class="input-group-addon" id="basic-addon1">Breed:</span>
                        <input type="text" name="Breed" class="form-control breedInput"/>
                    </div>
                    <div class="input-group weightContainer">
                        <span class="input-group-addon" id="basic-addon1">Weight:</span>
                        <input type="text" name="Weight" class="form-control weightInput"/>
                    </div>
                    <div class="input-group ageContainer">
                        <span class="input-group-addon" id="basic-addon1">Age:</span>
                        <input type="text" name="Age" class="form-control ageInput"/>
                    </div>
                    <input type="submit" value="Accept changes" class="btn btn-default btnEdit">
                }
            </div>
            <br>
            Cat's name:<p class="namee">@cat.Name</p>
            Cat's breed:<p class="bredee">@cat.Breed</p>
            Cat's weight: <p class="weightee">@cat.Weight</p>
            Cat's age: <p class="agee">@cat.Age</p>
        </div>
    }