@using System.Security.Cryptography.X509Certificates
@using System.Web.Optimization
@using BotDetect.Web.UI.Mvc
<link href="@Url.Content("~/Content/AddingThreadStyle.css")" rel="stylesheet" type="text/css">
@{
    ViewBag.Title = "ShowAddingNewThread";
    Layout = "~/Views/_BasicLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<script src="../../Scripts/PictureUpoading.js"></script>
<div class="input">
<form method="POST" action="/Thread/Create">
    <input type="hidden" value="@TempData["BoardId"]" name="BoardId"/>
    <br><p>E-mail:<input type="text" name="email"/> Title:<input type="text" name="title" /><input type="submit" value="Create" /></p>
    <p>Post:<textarea class="txtarea" name="content" rows="10" cols="48" ></textarea></p>
    <input type="file" name="image" id="pic"><input type="button" value="Upload" id="btnUpload">
    <input type="hidden" value="" id="imgsrc" name="imgsrc">
    @{MvcCaptcha sampleCaptcha = new MvcCaptcha("SampleCaptcha");}
    @Html.Captcha(sampleCaptcha)
   <p>Captcha is required: @Html.TextBox("CaptchaCode")</p>
</form>
</div>